.about {
  background-color: $bgSecondary;
  padding: 0 250px;
  &__container {
    display: flex;
    padding-bottom: 50px;
  }
  &__title {
    font-weight: bold;
    font-size: 1.9rem;
    text-align: center;
    padding: 50px 0;
    color:$mainColor;
  }

  &__pic {
    margin-right: 44px;

  }

  &__info {
    margin: 160px 0;
    font-weight: 500;
    font-size: 1.1rem;
    color: $mainColor;
    font-family: Roboto;
    &-element {
       max-width: 460px;
       display: block;
       margin-bottom: 10px;
       line-height: 23px;
    }
  }
}
