@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

@import  "reset", "vars", "header", "about", "skills", "portfolio","contacts";

html,
body {
  height: 100%;
  font-family:  Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}
.wrapper {
   max-width:1445px;
 }